In [3]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=2c1b1d9ceee6c6565e0b1b915d3b0e33b07cbfb77420817d1ecffa059942f1a7
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [12]:
transactions[:1]

[['red hot chili peppers',
  'the black dahlia murder',
  'goldfrapp',
  'dropkick murphys',
  'le tigre',
  'schandmaul',
  'edguy',
  'jack johnson',
  'eluveitie',
  'the killers',
  'judas priest',
  'rob zombie',
  'john mayer',
  'the who',
  'guano apes',
  'the rolling stones']]

In [5]:
import pandas as pd
import apyori
from apyori import apriori

In [6]:
# Подготовка данных

df = pd.read_csv('DATA.csv')
df.drop_duplicates(inplace=True)

transactions = []
for i in df['user'].unique():
    transactions.append(list(df[df['user'] == i]['artist'].values))
1

**Support** = "популярность" элемента. относительная частота  появления набора X  среди всех чеков, 
т.е. выборочная оценка для априорной вероятности появления набора X. Реуглируя этот параметр, выбираем когда появляется какое-то Association rule

**Confidence** есть характеристика ассоциативного правила. Это –  мера мощности прогноза, которое даёт правило, а именно
Таким образом, для ассоциативного правила Х  –>  Y  значение показателя confidence  есть относительная частота тех случаев, когда наличие множества Х в покупательской корзине повлекло присутствие в ней множества Y

**lift(x->y)** = trust(x->y)/confidence(x->y)

In [ ]:
association_results = list(apriori(transactions, min_support=0.01, min_confidence=0.2, min_lift=1.5))
association_results

In [13]:
# Если пользователь слышит X, то с соответующим уровнем, confidence, lift и support, будет рад слышать Y
def inspect(results):
    x = [tuple(result[2][0][0])[0] for result in results]
    y = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(x, y, supports, confidences, lifts))


associations = pd.DataFrame(inspect(association_results), columns = ['X', 'Y', 'Support', 'Confidence', 'Lift'])

associations['Transaction']= associations['X']+"=>"+associations['Y']
associations.sort_values(by='Lift',inplace=True,ascending=False)

In [14]:
associations

                     X  ...                  Transaction
374              jay-z  ...                   jay-z=>nas
646            rihanna  ...  rihanna=>the pussycat dolls
91             beyoncé  ...             beyoncé=>rihanna
397         katy perry  ...        katy perry=>lady gaga
496          morrissey  ...        morrissey=>the smiths
..                 ...  ...                          ...
191       modest mouse  ...       modest mouse=>coldplay
220  the white stripes  ...  the white stripes=>coldplay
665          the kooks  ...       the kooks=>the beatles
196            nirvana  ...            nirvana=>coldplay
310       foo fighters  ...    foo fighters=>the beatles

[762 rows x 6 columns]